html, body
	height 100%
	width 100%
	
body
	background-color #F4F4F4
	font-family roboto
	
pre 
	white-space -moz-pre-wrap
	white-space -pre-wrap
	white-space -o-pre-wrap
	white-space pre-wrap
	word-wrap break-word
	
header
	display block
	
aside#about
	display block
	
main
	display block
	

// ********** PLAYER **********

section#player
	display block
	
	.player-instance
		display block

		// HEADER
		.player-header
			display block
			
			.player-header-title
				display block
				
			.player-header-desc
				display block
		
		// MENU / PLAYER BUTTONS
		.player-menu
			display block
			
			.player-menu-btn
				display block
				
				&:after
					display block
				
				&:hover:after
					display block
					
				&.play
					display block
					
				&.pause
					display block
					
				&.next
					display block
					
				&.back
					display block
	
// ********** SEARCH RESULTS **********

section#search
	display block
	


