// ********** Screens under 480px width **********
@media only screen and (max-width: 480px)
	
	body 
		max-width 436px
		
	.player-header-title
		margin 0 10px 0 15px
		line-height 40px
			
	.player-header-desc
		margin 0
		line-height 40px
		
	.player-menu
		float none
		min-width 100%
		
	.player-tabs
		float left
		
		&.code
			min-width 100%
			
		&.demo
			min-width 100%
			
	.search-result-box
		min-width calc(100% - 40px)
		
		.search-result-box-img
			min-width 100%
