html, body
	height 100%
	width 100%
	
body
	background-color grey-background
	font-family roboto
	
pre 
	white-space -moz-pre-wrap
	white-space -pre-wrap
	white-space -o-pre-wrap
	white-space pre-wrap
	word-wrap break-word
	
header
	min-width 100%
	height 40px
	
	.header-logo
		margin 0
		line-height 40px
	
aside#about
	display block
	
main
	position relative
	
// ********** PLAYER **********

section#player
	width 100%
	height 500px
	// min-height calc(100% - 40px)
	
	.player-instance
		display block

		// HEADER
		.player-header
			position relative
			float left
			width 100%
			height 40px
			
			.player-header-title
				float left
				margin 0 10px 0 15px
				line-height 40px
				
			.player-header-desc
				float left
				margin 0
				line-height 40px
		
		// MENU / PLAYER BUTTONS
		.player-menu
			display block
			
			.player-menu-btn
				display block
				
				&:after
					display block
				
				&:hover:after
					display block
					
				&.play
					display block
					
				&.pause
					display block
					
				&.next
					display block
					
				&.back
					display block
	
// ********** SEARCH RESULTS **********

section#search
	position relative
	padding-bottom 20px
	width 100%
	overflow hidden
	
	// SEARCH BOX
		
	.search-box
		float left
		padding 0 30px
		width 100%
		height 80px
		box-sizing: border-box;
			
		.search-box-input
			margin-top 15px
			padding 0 10px
			height 60%
			width 95%	
			border none
			
	// SEARCH RESULTS
			
	.search-results-container
		float left
		width 100%
		height 500px
		
		.search-result-box
			float left
			margin 20px 0px 0px 20px
			width 250px
			overflow hidden
			
			&:hover
				cursor pointer
			
			&:hover .search-result-box-overlay
				background-color #333
				color white
				
			&:hover h4
				color #CCC
			
			.search-result-box-img
				float left
				max-width 250px
				
			.search-result-box-overlay
				float left
				padding 20px 15px
				width 100%
				height 70px
				box-sizing border-box
				
				h4
					padding-top 4px

	


