// ********** Screens under 480px width **********
@media only screen and (max-width: 480px)

  body
    max-width 480px

  .player-header-title
    margin 0 10px 0 15px
    line-height 40px

  .player-header-desc
    margin 0
    line-height 40px

  .player-tabs
    float left

    &.code
      display none

    &.demo
      min-width 100%

  .search-result-box
    margin-bottom 10px !important
    min-width 100%
    height 100px

    .search-result-box-img
      width 100px
      height 100px

    .search-result-box-overlay
      max-width calc(100% - 100px)
      min-height 100%
