// ********** TYPOGRAPHY **********
.text-gigantic
	font-size 110px
	line-height 120px
	letter-spacing -2px

.text-huge, h1
	font-size 68px
	line-height 72px
	letter-spacing -1px

.text-large, h2
	font-size 42px
	line-height 48px

.text-bigger, h3
	font-size 26px
	line-height 36px

.text-big, h4
	font-size 22px
	line-height 30px
	
.text-bold-100
	font-weight 100

.text-bold-300
	font-weight 300
	
.text-bold-500
	font-weight 500
	
.text-bold-700
	font-weight 700
	
.text-center
	text-align center
	
.text-white
	color white