// ********** TYPOGRAPHY **********

.text-size-30px
	font-size 30px

.text-size-20px, h1
	font-size 20px
	
.text-size-18px, h2
	font-size 18px

.text-size-16px, h3
	font-size 16px
	
.text-size-14px
	font-size 14px
	
.text-size-12px, h4
	font-size 12px
	
.text-bold-100
	font-weight 100

.text-bold-300
	font-weight 300
	
.text-bold-500
	font-weight 500
	
.text-bold-700
	font-weight 700
	
.text-center
	text-align center
	
.text-color-white
	color white

.text-color-grey-mid
	color grey-mid
	
.text-color-yellow
	color yellow-light
	
// ********** BACKGROUND COLOR **********
	
.background-color-black
	background-color black
	
.background-color-grey-back
	background-color grey-background
	
.background-color-grey
	background-color grey-dark
	
.background-color-grey-light
	background-color grey-light
	
.background-color-white
	background-color white

.background-color-green
	background-color green-dark
	
.background-color-red
	background-color red-light
	
.background-color-blue
	background-color blue-dark
	
.background-color-orange
	background-color orange-dark

.background-color-yellow
	background-color yellow-light
	
// ********** BORDER **********

.border-bottom-black
	border-bottom 5px solid black
	
.border-bottom-red
	border-bottom 5px solid red-dark
	
.border-top-red
	border-top 5px solid red-dark
	
.border-radius-5px
	border-radius(5px)
	
	