// ********** COLORS **********
grey-background = #F4F4F4
grey-light = #CCCCCC
grey-dark = #333333
red-light = #E16D6A
red-dark = #AA3C39
green-dark = #51BF52
green-darker = #367F37
blue-dark = #3182BF
blue-darker = #21577F
orange-dark = #FFA03B
orange-darker = #7F501D
yellow-light = #FFE49C

// ********** TYPOGRAPHY **********
roboto = 'Roboto',sans-serif